/* TABLET */
@media screen and (min-width: 425px) {

    .row .col {
        width: calc(100% / 2 - 20px / 2);
    }

    .container {
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
    }

}


/* DESKTOP */
@media screen and (min-width: 768px) {
    .row .col {
        width: calc(100% / 3 - 40px / 2);
    }

    .card:hover .pin{
        display: none;
    }

    .card:hover {
        transform: rotate(20deg);
    }
}