/* TABLET */
@media screen and (min-width: 425px) {

    .row .col {
        width: calc(100% / 2 - 40px / 2);
    }

}


/* DESKTOP */
@media screen and (min-width: 768px) {
    .row .col {
        width: calc(100% / 3 - 40px / 2);
    }
}