/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
    margin-bottom: 10px;
}

/***********
**COMMON 
************/


/* TYPOGRAPHY */

body {
    font-family: sans-serif;
    background-image: url(../img/cork.png);
}


/* LAYOUT */
.container {
    width: 65%;
    max-width: 1000px;
    margin: 0 auto;
}

.col {
    width: 100%;
}

.card {
    padding: 15px;
    background-color: whitesmoke;
}

/* FLEX */
.row {
    display: flex;
    margin-top: 30px;
}
.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.g-20 {
    gap: 20px;
}

.wrap {
    flex-wrap: wrap;
}

/* UTILITIES */
.text-center {
    text-align: center;
}

/* HEADER */
header {
    position: fixed;
    z-index: 10000;
    right: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px;
    background-image: url(../img/wall.png);
    font-size: 1.4rem;
}

/* MAIN */

main {
    padding-top: 80px;
}