/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
}

/***********
**COMMON 
************/


/* TYPOGRAPHY */


/* LAYOUT */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}


.col {
    width: 100%;
}

/* FLEX */
.row {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.g-20 {
    gap: 20px;
}

.wrap {
    flex-wrap: wrap;
}

/* UTILITIES */


/* HEADER */
header {
    text-align: center;
    position: fixed;
    z-index: 10000;
    right: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px;
    background-image: url(../img/wall.png);
    font-size: 1.4rem;
}

/* MAIN */

main {
    padding-top: 80px;
}